/*	UNIVERSAL STYLING
----------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif, times;
}
body{
	overflow-y: scroll;
	background-color: #485460;
}
a {
}
h1 {
	font-size: 45px;
	>/*text-shadow: 0.5px 0.5px black, -0.5px -0.5px black;*/
}
h2 {
}
h3 {
}
p {
	font-size: 20px;
	line-height: 1.25;
	padding: 20px 0 20px 0;
}
.title-color{
	color: #ff793f;
}

/*	NAV
----------------------------------*/
.top{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: #485460;
	/*border-bottom: 1px solid #ff793f;*/
}
.space-from-nav{
	width: 100%;
	padding: 50px 0 50px 0;
}
.nav{
	display: flex;
	flex-wrap: nowrap;
  justify-content: space-between;
	align-items: center;
  height: 100px;
	margin-left: 2%;
}
/*	FIX FOR OUR SOLUTION */
.nav-link{
  font-size: 35px;
  padding: 14px 13px 14px 13px;
  background-color: #ffda79;
}
.nav-air{
	flex-basis: 25%;
	height: 100px;
}
.nav-link:hover{
  background-color: #ff793f;
	font-style: oblique;
	color: white;
}
.nav a{
	color: black;
	text-decoration: none;
}
.active{
	background-color: #ff793f;
	/*font-style: oblique;*/
	/*padding: 30px 13px 30px 13px;*/
}
.dropdown{

}
.dropdown-icon{
	display: none;
	width: 100px;
	height: 100px;
	fill: #ffda79;
}
.nav-dropdown{
	display: none;
}
.nav-dropdown a{
	display: block;
	color: black;
	text-decoration: none;
}
.dropdown:hover .nav-dropdown,
.dropdown:focus .nav-dropdown{
	display: block;
}
.dropdown:hover .dropdown-icon{
	fill: #ff793f;
}

@media (max-width: 1440px){
	.nav-air{
		flex-basis: 15%;
	}
}
@media (max-width: 1024px){
	.nav-air{
		flex-basis: 5%;
	}
}
@media (max-width: 768px){
	.nav{
		display: none;
	}
	.dropdown-icon{
		display: block;
	}
}

/*	TOP
----------------------------------*/
.top {
}

/*	BOTTOM
----------------------------------*/
.bottom {
}

/*	HOME
----------------------------------*/
.content {
	margin-top: 37px;
	margin-bottom: 37px;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #f7f1e3;
}
.content h1, p{
	padding-top: 35px;
	padding-left: 2%;
	padding-right: 2%;
}

/*	PROBLEM
----------------------------------*/

/*	OUR SOLUTION
----------------------------------*/

/*	ISSUES
----------------------------------*/

/*	SOURCES
----------------------------------*/
