/*	UNIVERSAL STYLING
----------------------------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
a {
	color: black;
	text-decoration: none;
}
h1 {
}
h2 {
}
h3 {
}
p {
}

/*	NAV
----------------------------------*/
.top{
}
.nav{
	display: flex;
  justify-content: space-around;
  background-color: #f7f1e3;
  align-items: center;
  height: 100px;
}
.nav-link{
  font-size: 35px;
  margin: 5px 0 5px 0;
  padding: 15px 15px 15px 15px;
  background-color: #ffda79;
}
.nav-air{
	flex-basis: 30%;
	height: 100px;
}
.navlink:hover{
  background-color: #ff793f;
}
/*	TOP
----------------------------------*/
.top {
}

/*	BOTTOM
----------------------------------*/
.bottom {
}

/*	HOME
----------------------------------*/
.content {
}

/*	PROBLEM
----------------------------------*/

/*	OUR SOLUTION
----------------------------------*/

/*	ISSUES
----------------------------------*/

/*	SOURCES
----------------------------------*/
